// Шаблоны (заготовки)
// @extend %имя шаблона;
// Сниппет (SCSS): ex

// Счетчик для списка
%listCounter {
	list-style-type: none;
	counter-reset: item;
	li {
		position: relative;
		&:before {
			counter-increment: item;
			content: "0" counter(item); // "0" - add something
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}
// Адаптивное видео
%responsiveVideo {
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 56.25%;
	video,
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
// Видео в качестве фона
%videoBackground {
	video,
	iframe,
	object,
	embed {
		position: fixed;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		transform: translateX(-50%) translateY(-50%);
		background-size: cover;
	}
}
// Серый фильтр
%grayfilter {
	transition: all 0.3s ease 0s;
	filter: grayscale(1);
	&:hover {
		filter: grayscale(0);
	}
}
// Отменить выделение
%noselect {
	user-select: none;
}
// Зеркальное отображение
%mirror {
	transform: scale(-1, 1);
}
// Плавный скролл
%smoothscroll {
	-webkit-overflow-scrolling: touch;
}
// Скрыть скролл
%hidescroll {
	&::-webkit-scrollbar {
		display: none;
	}
}

%flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

%flex-sb {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

%absolute-center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
%link-hover {
	transition: color $defaultTransition;

	&:hover {
		color: $bazaar;
	}
}

// * * * Fonts

// * 12
%Montserrat12-regular {
	font-family: $defaultFontFamily;
	font-size: rem(12);
	line-height: rem(16);
	font-weight: 400;
}
%Montserrat12-16-medium {
	font-family: $defaultFontFamily;
	font-size: rem(12);
	line-height: rem(14);
	font-weight: 500;

	@media(max-width: $mobileSmall) {
		font-size: rem(16);
		line-height: rem(24);
	}
}

// * 14
%Montserrat14-ligth {
	font-family: $defaultFontFamily;
	font-size: rem(14);
	line-height: 100%;
	font-weight: 300;
}
%Montserrat14-medium {
	font-family: $defaultFontFamily;
	font-size: rem(14);
	line-height: rem(24);
	font-weight: 500;
}
%Montserrat14-semibold {
	font-family: $defaultFontFamily;
	font-size: rem(14);
	line-height: 100%;
	font-weight: 600;
}

// * 16
%Montserrat16-light {
	font-family: $defaultFontFamily;
	font-size: rem(16);
	line-height: rem(24);
	font-weight: 300;
}
%Montserrat16-regular {
	font-family: $defaultFontFamily;
	font-size: rem(16);
	line-height: rem(24);
	font-weight: 400;
}
%Montserrat16-medium {
	font-family: $defaultFontFamily;
	font-size: rem(16);
	line-height: rem(24);
	font-weight: 500;
}




%geometria12-10-regular {
	font-family: inherit;
	font-size: rem(12);
	line-height: 162%;
	font-weight: 400;

	@media(max-width: $mobileSmall) {
		font-size: rem(10);
	}
}
%geometria12-regular {
	font-family: inherit;
	font-size: rem(12);
	line-height: 162%;
	font-weight: 400;
}
%geometria14-regular {
	font-family: inherit;
	font-size: rem(14);
	line-height: 162%;
	font-weight: 400;
}
%geometria14-medium {
	font-family: inherit;
	font-size: rem(14);
	line-height: 162%;
	font-weight: 500;
}
%geometria14-bold {
	font-family: inherit;
	font-size: rem(14);
	line-height: 162%;
	font-weight: 700;
}

%geometria16-14-regular {
	font-family: inherit;
	font-size: rem(16);
	line-height: 162%;
	font-weight: 400;

	@media(max-width: $mobileSmall) {
		font-size: rem(14);
	}
}
%geometria16-regular {
	font-family: inherit;
	font-size: rem(16);
	line-height: 162%;
	font-weight: 400;
}
%geometria16-medium {
	font-family: inherit;
	font-size: rem(16);
	line-height: 162%;
	font-weight: 500;
}

%geometria24-18-regular {
	font-family: inherit;
	font-size: rem(24);
	line-height: 150%;
	font-weight: 400;

	@media(max-width: $mobileSmall) {
		font-size: rem(18);
	}
}
%geometria24-18-medium {
	font-family: inherit;
	font-size: rem(24);
	line-height: 150%;
	font-weight: 500;

	@media(max-width: $mobileSmall) {
		font-size: rem(18);
	}
}

%geometria24-14-regular {
	font-family: inherit;
	font-size: rem(24);
	line-height: 150%;
	font-weight: 400;

	@media(max-width: $mobileSmall) {
		font-size: rem(14);
	}
}
%geometria24-regular {
	font-family: inherit;
	font-size: rem(24);
	line-height: 150%;
	font-weight: 400;
}
%geometria24-medium {
	font-family: inherit;
	font-size: rem(24);
	line-height: 150%;
	font-weight: 500;
}


%geometria40-medium {
	font-size: rem(40);
	font-family: inherit;
	line-height: 88.5%;
	font-weight: 500;
}

%geometria56-medium {
	font-family: inherit;
	line-height: 88.5%;
	font-weight: 500;

	@include adaptiveValue('font-size', 56, 40, 0);
}

%geometria60-40-medium {
	font-family: inherit;
	font-size: rem(60);
	line-height: 88.5%;
	font-weight: 500;

	@media(max-width: $mobileSmall) {
		font-size: rem(40);
	}
}
%geometria80-40-medium {
	font-family: inherit;
	font-size: rem(80);
	line-height: 88.5%;
	font-weight: 500;

	@media(max-width: $mobileSmall) {
		font-size: rem(40);
	}
}

%geometria104-48-medium {
	font-family: inherit;
	line-height: 88.5%;
	font-weight: 500;

	@include adaptiveValue('font-size', 104, 48, $maxWidth, $minWidth, 0);

	@media(min-width: $maxWidth+px) {
		font-size: rem(104);
	}
}

%geometria200-80-medium {
	font-family: inherit;
	font-size: rem(200);
	line-height: 104%;
	font-weight: 500;

	@media(max-width: $mobileSmall) {
		font-size: rem(80);
	}
}